body {
    background-image: url(/images/crossline-lines.png);
    font-family: 'Nunito', sans-serif;
}


/*Index*/
.mainBanner,
.topbar.sticky-top {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo img {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    margin-right: 50px;
}

.logIn img {
    width: 30px;
    height: 30px;
}

.logIn {
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    background-image: url(/images/header_img2.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 50px;
}

.headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.productInfo {
    width: 450px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin-left: 50px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 200px;
    display: flex;
}

.productInfo button{
  align-self: flex-end;
}

.sectionContent h3 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
}

.product1, .product2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.product1_image {
    background-image: url(/images/makeupfixer1.png);
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 220px;
    height: 285px;
    border-radius: 10px;
}

.product1_info, .product2_info {
    width: 800px;
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
}

.slideShow_BodyScrub{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#slideshow {
    overflow: hidden;
    height: 200px;
    width: 300px;
    margin: 0 auto;
  }
  
  .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 18s ease infinite;
  }
  
  .slide {
    float: left;
    height: 200px;
    width: 300px;
  }
  
  .slide:nth-child(1) {
    background-image:url(/images/cotton_candy_body_scrub.png);
    background-repeat:no-repeat; 
    background-position: center;
    border-radius: 10px;
  }
  
  .slide:nth-child(2) {
    background-image:url(/images/citrus_dream.png);
    background-repeat:no-repeat; 
    background-position: center;
    border-radius: 10px;
  }
  
  .slide:nth-child(3) {
    background-image:url(/images/minty_dream.png); 
    background-repeat:no-repeat; 
    background-position: center;
    border-radius: 10px;
  }
  
  .slide:nth-child(4) {
    background-image:url(/images/tropical_berry.png);
    background-repeat:no-repeat; 
    background-position: center;
    border-radius: 10px;
  }
  
  /* .slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
  } */
  
  @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -300px;}
    50% {margin-left: -300px;}
    60% {margin-left: -600px;}
    70% {margin-left: -600px;}
    80% {margin-left: -900px;}
    90% {margin-left: -900px;}
  }
  
  .sectionContent { 
      margin-bottom: 50px;
  }

  .marketSales { 
    margin-bottom: 30px;
  }

  /*Hair Care css layout and things related to hair_care.html*/

  .hairCare {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .hairCare_one, .hairCare_two, .hairCare_three, .hairCare_four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  /*Footer -------------------------------------------------------------------------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  /* Colors */
  * {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: Raleway, sans-serif;
    background-color: #fff;
  }
  
  footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    background-color: #999;
    margin-bottom: -30px;
  }
  footer .copyright {
    width: 50%;
    float: left;
  }
  @media (max-width: 600px) {
    footer .copyright {
      width: 100%;
    }
  }
  footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  @media (max-width: 600px) {
    footer .copyright p {
      text-align: center;
      padding: 0;
    }
  }
  footer .social {
    width: 50%;
    float: right;
  }
  @media (max-width: 600px) {
    footer .social {
      width: 100%;
    }
  }
  footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .linked {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 20%;
  }

  .linked p {
    color: #fff;
  }
  
  .face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%;
  }
  
  .insta {
    background-color: rgb(221, 61, 114);
    font-size: 1.2em;
    width: 20%;
  }
  
  .support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
  }
  
  